@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:wght@700&display=swap");

:root {
  --apex-color: white;
  --base-color: black;
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --Red: hsl(0, 100%, 68%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Barlow", sans-serif;
}

.hero__overlay {
  position: absolute;
  top: 0px !important;
  right: 0px;
  width: 50% !important;
  height: 56%;
  background-color: hsl(207, 33%, 95%);
  border-radius: 0px 0px 0% 55px;
  z-index: -1;
}

h1,
h4,
.btn {
  font-family: "barlow condensed", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: hsl(230, 29%, 20%);
  cursor: pointer;
}

li :nth-last-child(1) {
  color: hsl(231, 7%, 65%);
  opacity: 0.6;
}

li {
  font-family: "barlow condensed", sans-serif;
  font-size: 17px;

}

main {
  display: flex;
  padding: 30px 0px;
}

.content {
  padding: 40px 60px 0px 120px;
}

.pre-heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.new {
  background-color: hsl(230, 29%, 20%);
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
}

.pre {
  font-weight: 400;
  letter-spacing: 5px;
  padding-left: 15px;
  font-size: 16px;
  color: hsl(231, 7%, 65%);
}

h1 {
  font-size: 74px !important;
  margin-bottom: 30px;
  line-height: 65px;
  font-weight: 700 !important;
}

p {
  max-width: 100%;
  /* width: 50%; */
  line-height: 26px;
  color: hsl(231, 7%, 65%);
  font-weight: 400 !important;
  font-family: "balow condensed", sans-serif;
  font-size: 19px;
}

.btn-pre {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.btn {
  padding: 15px 25px;
  background-color: hsl(0, 100%, 68%) !important;
  color: white !important;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:active {
  outline: none;
  border: none;
  transform: translateY(5px);
}

.btn:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .content {
    width: 50%;
  }

  .img {
    width: 50%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 120px;
  }

  ul {
    display: flex;
  }

  li:hover {
    border-bottom: 1px solid hsl(230, 29%, 20%);
  }

  .dot {
    width: 9px;
    height: 9px;
    background-color: hsl(231, 7%, 65%);
    border-radius: 5px;
    opacity: 0.4;
  }

  li {
    margin-left: 52px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 7%;
    height: auto;
  }

  .hero__overlay {
    position: absolute;
    top: -50px !important;
    right: 0px;
    width: 50% !important;
    height: 81%;
    z-index: -1;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
  }
  .list {
    flex-direction: column;
    margin: auto;
    position: absolute;
    margin-top: 380px;
    background-color: white;
    width: 80%;
    padding: 20px 0;
    box-shadow: 0 10px 20px rgba(37, 43, 70, 0.1);
  }

  ul li {
    padding: 15px 0px;
  }

  .dot {
    border-bottom: 1px solid hsl(231, 7%, 65%);
    width: 90%;
    margin-top: -20px;
    margin-bottom: 5px;
    opacity: 0.6;
  }

  main {
    flex-direction: column-reverse;
    margin-left: 10px;
    overflow-x: hidden;
    padding-top: 100px;
  }

  .img {
    padding-left: 5px;
  }
  .new {
    font-size: 15px;
    padding: 0px 20px;
  }

  .img img {
    width: 137%;
    padding-left: 46px;
  }

  .content {
    padding: 60px 0px 30px 0px !important;
    width: 80%;
    margin: 0px 50px;
    margin-bottom: 50px;
    
  }
  .pre-heading {
    padding: 0 !important;
    width: 100%;
  }

  .btn-pre {
    width: 150%;
    height: 5px;
    font-size: 2px;
  }

  h1 {
    font-weight: 400;
    font-size: 40px !important;
    line-height: 46px;
    width: 90%;
    margin-bottom: 20px;
    color: hsl(230, 29%, 20%);
  }

  p {
    width: 80%;
    color: hsl(231, 7%, 65%);
  }

  .btn {
    padding: 12px 10px;
  }

  .live {
    font-size: 13px;
    letter-spacing: 4px;
    padding-right: 0px;
  }
}
